{{ if not (.Page.Scratch.Get "peaks") }}
<script src="{{ "/js/peaks.js" | relURL }}"></script>
{{ .Page.Scratch.Set "peaks" true }}
{{ end }}

{{ if not (.Page.Scratch.Get "jquery") }}
<script src="{{ "/js/jquery.min.js" | relURL }}"></script>
{{ .Page.Scratch.Set "jquery" true }}
{{ end }}

{{ if not (.Page.Scratch.Get "audio_peaks") }}
{{ .Page.Scratch.Set "audio_peaks" 1}}
{{ else }}
{{ .Page.Scratch.Add "audio_peaks" 1 }}
{{ end }}
{{ $num := .Page.Scratch.Get "audio_peaks"}}
{{ $id := (printf "audio_peaks_%d" $num)}}

<div class="boxdiv">
    <div id="peaks-overview-{{ .Page.Scratch.Get "audio_peaks"}}"></div>
    <br>
    <div id="peaks-zoom-{{ .Page.Scratch.Get "audio_peaks"}}"></div>
    <br>
    <div id="peaks-control" class="wrapper">
        <audio id="peaks-audio{{ .Page.Scratch.Get "audio_peaks"}}" controls=controls>
            <source src="/audio/{{ index .Params 0}}.{{ index .Params 1}}" type="audio/{{ index .Params 1}}">
            Your browser does not support audio.
        </audio>
        <div id="controls">
            <button id="zoomIn-{{ .Page.Scratch.Get "audio_peaks"}}" class="button">Zoom In</button>
            <button id="zoomOut-{{ .Page.Scratch.Get "audio_peaks"}}" class="button">Zoom Out</button>
        </div>
    </div>
</div>

<script>
    $(document).ready(
        (function(Peaks) {
            const options = {
                containers: {
                    zoomview: document.getElementById('peaks-zoom-{{ .Page.Scratch.Get "audio_peaks"}}'),
                    overview: document.getElementById('peaks-overview-{{ .Page.Scratch.Get "audio_peaks"}}')
                },
                mediaElement: document.getElementById('peaks-audio{{ .Page.Scratch.Get "audio_peaks"}}'),
                dataUri: {
                    arraybuffer: '/waveforms/{{ index .Params 0}}.dat'
                },
                height: 60,
                segmentStartMarkerColor: '#a0a0a0',
                segmentEndMarkerColor: '#a0a0a0',
                zoomWaveformColor: 'rgba(0, 30, 128, 0.61)',
                overviewWaveformColor: 'rgba(0, 15, 100, 0.3)',
                overviewHighlightColor: 'grey',
                segmentColor: 'rgba(255, 161, 39, 1)',
                playheadColor: 'rgba(0, 0, 0, 1)',
                playheadTextColor: '#aaa',
                showPlayheadTime: false,
                pointMarkerColor: '#FF0000',
                axisGridlineColor: '#ccc',
                axisLabelColor: '#aaa',
                randomizeSegmentColor: true
            };

            Peaks.init(options, function(err, peaks) {
                document.getElementById('zoomIn-{{ .Page.Scratch.Get "audio_peaks"}}').addEventListener("click", function() {
                    peaks.zoom.zoomIn();
                });
            
                document.getElementById('zoomOut-{{ .Page.Scratch.Get "audio_peaks"}}').addEventListener("click", function() {
                    peaks.zoom.zoomOut();
                });
            });
        })(peaks)
    );
</script>
<br>
